@model ResetPasswordViewModel
<partial name="_Error" />
<div class="container d-flex justify-content-center align-items-center mt-5">
    <form class="bg-white p-4 rounded shadow" asp-controller="Auth" asp-action="ChangePassword" method="post" style="width: 400px;">
        <h2 class="text-center mb-4">Giriş Yap</h2>
        <div>
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div>
            <label asp-for="CofirmNewPassword" class="form-label"></label>
            <input asp-for="CofirmNewPassword" type="password" class="form-control" />
            <span asp-validation-for="CofirmNewPassword"></span>
        </div>
        <div class="mb-3 mt-3 text-center">
            <button type="submit" class="btn btn-primary">Password Chance</button>
        </div>
    </form>
</div>