<footer class="py-3 bg-black mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small px-xl-5">
            <div class="text-muted">SSTTEK ACADEMY BOOTCAMP 2024 - Basic Library Management System Web Application</div>
            <div>
                <a href="https://www.ssttek.com/">Ssttek Company</a>
                -
                <a href="https://www.ssttekacademy.com/">Ssttek Academy</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>