<partial name="_Error"/>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

@if (User.Identity!.IsAuthenticated)
{
    var firtName = User.FindFirst("FirstName")!.Value;
    var lastName = User.FindFirst("LastName")!.Value;
    var fullName = $"{firtName} {lastName}".Trim();
    <div class="text-center">
        <h1>@fullName</h1>
        <h3>Hoşgeldin</h3>
    </div>
}
else
{
    <div class="text-center">
        <h1>Not Authenticated</h1>
    </div>
}
